body{
    background-color: goldenrod;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: palegoldenrod;
}

h2{
    background-color: lavender;
    color: navy;
}

.info{
    background-color: royalblue;
    color: chocolate;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
