body{
    background-color: goldenrod;
}

header{
    background-color: palegoldenrod;
}

.info{
    background-color: royalblue;
    color: chocolate;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 10px solid;
}

h2{
    background-color: lavender;
    color: navy;
}

h3{
    background-color: lavender;
    color: navy; 
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
